<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="{% url 'comments:index' %}" method="POST">
            <label for="comment">添加评论：</label>
            <textarea rows="10" cols="100" name="comment" id="comment"></textarea>
            <button name="sumbit" id="submit" style="height: 35px;width: 150px;background-color: lightslategray">
                提交评论
            </button>
        </form>
    </div>
    <div>
        <span style="background-color: #e0e0e0">显示评论内容</span>
    </div>
</body>
</html>