{% extends "base.html" %}
{#{% load custom_markdown %}#}
{% block content %}
    <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ article.title }}</h2>

                <p class="post-meta">
                    {#                        日期:  <a class="post-author" href="#">{{ article.date_time |date:"Y /m /d"}}</a> <a class="post-category post-category-js" href="{% url "search_tag" my_tag=article.category  %}">{{ article.category | title }}</a>#}
                    日期: <a class="post-author" href="#">{{ article.date_time }}</a>
                    <a class="post-category post-category-js" href="#">{{ article.category }}</a>
                    <a class="post-category post-category-js" href="{% url 'delete' id=article.id %}">删除</a>
                </p>
            </header>
            <div class="post-description">
                <p>
                    {{ article.content }}
                </p>
            </div>
        </section>
    </div>
{% endblock %}