{% extends "base.html" %}
{% block content %}
<div class="posts">
    {% for article in article_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url "detail" id=article.id %}">{{ article.title }}</a></h2>

                    <p class="post-meta">
                        日期:  <a class="post-author" href="#">{{ article.date_time }}</a>
                        <a class="post-category post-category-js" href="#">{{ article.category }}</a>
                        <a class="post-category post-category-js" href="{% url 'delete' id=article.id %}">删除</a>
                    </p>
            </header>
                <div class="post-description">
                    <p>
                        {{ article.content | slice:"3"}}...
                    </p>
                </div>
                <a class="pure-button" href="{% url 'detail' id=article.id %}">阅读更多>>> </a>
        </section>
    {% endfor %}
</div>
{% endblock %}